header {text-align: center;
    font-size: 30pt;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px}
footer {text-align: center;
        padding-bottom:5px}
a {padding-right: 10px;
padding-left: 10px}
 hr {border: 1px solid black;}
a:link {text-decoration: none; color: firebrick}
a:visited {color: darkolivegreen;}
a:hover {font-weight: bold;}